

<h2>Tiên Lương</h2>
<table width="400px" class="table-bordered">
    <tr>
        <td>Mã NV: </td>
        <td>@ViewBag.ma</td>
    </tr>
    <tr>
        <td>Có ngày công: </td>
        <td>@ViewBag.ngaycong</td>
    </tr>
    <tr>
        <td>Tiền được lĩnh: </td>
        <td>@ViewBag.tienlinh</td>
    </tr>
</table>

