<table border="1" width="400px" height="250px" style="margin: 10 0 0 0">
    <thead>
        <th colspan="2">Thông tin sinh viên</th>
    </thead>
        <tbody>
            <tr>
                <td>Mã SV:</td>
                <td>SV001</td>
            </tr>
            <tr>
                <td>Họ tên:</td>
                <td>Lê THị Vân</td>
            </tr>
            <tr>
                <td>Ngày sinh:</td>
                <td>16-09-2003</td>
            </tr>
            <tr>
                <td>Quê quán:</td>
                <td>Nam Từ Liêm, Hà Nội</td>
            </tr>
        </tbody>
</table>


