<table border="1" width="400px" height="350px" style="margin: 10 0 0 0; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="font-weight: bold">Mã nhân viên:</td>
            <td>
                <input type="text" name="maNV" id="maNV" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold">Họ tên:</td>
            <td>
                <input type="text" name="tenVN" id="tenVN" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold">Ngày sinh:</td>
            <td>
                <input type="text" name="ngaySinh" id="ngaySinh" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold">Giới tính:</td>
            <td>
                <input type="radio" name="gender" value="Nam" /> Nam
                <input type="radio" name="gender" value="Nữ" /> Nữ
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold">Mã nhân viên:</td>
            <td>
                <select>
                    <option value="1">Trưởng phòng</option>
                    <option value="2">Nhân viên</option>
                    <option value="3">Tạp vụ</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold">Ngoại ngữ:</td>
            <td>
                <input type="checkbox" name="anh" />Anh
                <input type="checkbox" name="phap" />Pháp
                <input type="checkbox" name="nga" />Nga
            </td>
        </tr>
        <tr>
            <td colspan="2"  style="text-align: center">
                <button type="submit" name="btnSubmit">Lưu</button>
                <button type="reset" name="btnXoa">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>



